@tailwind base;
@tailwind components;
@tailwind utilities;
@import "variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Press+Start+2P&display=swap');

body {
    font-family: $primary-font-family;
}