//Font

 $primary-font-family: 'Lato', sans-serif;
 $logo-font-family: 'Press Start 2P', cursive;


//Colors

$color-primary: #3b3e48;

$background-primary: #494f5c;
$background-secondary: #2f333d;

$boder-color: #282c34;

$link-color: #d5d9e1;

$color-white: #ffffff;
$color-black: #000000;

$button-primary-background: #169fe3;
$button-primary-background-hover: #3794c3;