.product-item {
    padding: 20px;
    background-color: #0c0c0c;
}
.product-item picture {
    display: block;
    width: 100%;
    height: 150px;
}
.product-item picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.button-primary {
    color: #ffffff;
    background-color: #333333;
}
.button-primary:hover {
    background-color: #5c5c5c;
}