@import "../../assets/scss/variables.scss";

.item-count {
    padding-top: 30px;
    width: 50%;
}

.button-primary {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    background-color: $button-primary-background;
    border-radius: 5px;
    text-transform: capitalize;

    &:hover {
        background-color: $button-primary-background-hover;
    }
}